<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/programmetv.css">
    <title>Programme TV</title>
</head>

<body>

    <!-- Barre de navigation -->
    <header>
        <nav>
            <ul>
                <li><a href="/apropos">À propos</a></li>
                <li><a href="/programmetv">Programme TV</a></li>
            </ul>
        </nav>
    </header>

    <!-- Inclusion de la barre de navigation -->
    <%- include("navbar") -%>

    <h1>Programme de Diffusion</h1>

    <table border="1">
        <thead>
            <tr>
                <th>titre programme</th>
                <th>Poste</th>
                <th>Horaire Début</th>
                <th>Horaire Fin</th>
            </tr>
        </thead>
        <tbody>
            <% emissions.forEach(emission => { %>
                <tr>
                    <td><%= emission.titre_programme %></td>
                    <td><%= emission.poste %></td>
                    <td><%= emission.horaire_debut %></td>
                    <td><%= emission.horaire_fin %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

</body>
</html>
