<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Déclaration du type de document et définition de la langue -->
    <meta charset="UTF-8">  <!-- Définit l'encodage des caractères pour supporter les accents et caractères spéciaux -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="css/programmetv.css">  <!-- Lien vers la feuille de style CSS pour personnaliser l'apparence de la page -->
    <title>Programme TV</title>  <!-- Titre de la page affiché dans l'onglet du navigateur -->
</head>

<body>

    <!-- Barre de navigation -->
    <header>
        <nav>
            <ul>
                <!-- Menu de navigation avec des liens vers différentes pages du site -->
                <li><a href="/apropos">À propos</a></li>
                <li><a href="/programmetv">Programme TV</a></li>
                <li><a href="/formulaireprogrammetv">Formulaire programme tv</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
            </ul>
        </nav>
    </header>

    <!-- Inclusion de la barre de navigation -->
    <%- include("navbar") -%>

    <!-- Titre principal de la page -->
    <h1>Programme de Diffusion</h1>

    <!-- Table pour afficher la liste des émissions -->
    <table border="1">
        <thead>
            <tr>
                <!-- En-têtes de colonne -->
                <th>titre programme</th>
                <th>Poste</th>
                <th>Horaire Début</th>
                <th>Horaire Fin</th>
            </tr>
        </thead>
        <tbody>
            <!-- Boucle EJS pour parcourir et afficher les émissions -->
            <% emissions.forEach(emission => { %>
                <tr>
                    <!-- Affichage des données des émissions dynamiquement avec EJS -->
                    <td><%= emission.titre_programme %></td>
                    <td><%= emission.poste %></td>
                    <td><%= emission.horaire_debut %></td>
                    <td><%= emission.horaire_fin %></td>
                    <td><%= emission.lien_YouTube %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <iframe width="560" height="315" 
    src="https://www.youtube.com/embed/6J0OZhwj2Vc" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>

<iframe width="560" height="315" 
    src="https://www.youtube.com/embed/J8G_yNnGQts" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>

<iframe width="560" height="315" 
    src="https://www.youtube.com/embed/55zdO5wH_DE?pp=ygUaZGViYXQgdHJhZGl0aW9ubmVsIG1heW90dGU%3D" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>

<iframe width="560" height="315" 
    src="https://www.youtube.com/embed/ZAmOCXgc76U?pp=ygUFY2hhbnQ%3D" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>

</body>
</html>
